.circleButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid red;
    position: absolute;
}

.startEndBarrier {
    border: 1px solid red;
    position: absolute;
    text-align: center;
    padding-left: 0px;
}

.gameSpeedButton {
    color: white;
    border-color: red;
    background-color: red;
    height: 20px;
    width: 30px;
    position: absolute;
    text-align: start;
    padding-left: 0px;
}

.mainCanvasContainer {
    position: relative;
    height: 500px;
    width: 500px;
}

#mainCanvas {
    position: absolute;
}